<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>AgroMarket{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img src="{{ url_for('static', filename='images/Farmer hub logo.jpg') }}" width="30" height="30" class="d-inline-block align-top" alt="AgroMarket Logo">
                </a>
                <a class="navbar-brand" href="#">AgroMarket</a>
            </div>
            <div class="collapse navbar-collapse">
                {% if not current_user.is_authenticated %}
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="#">About AgroMarket</a></li>
                    <li><a href="{{ url_for('signup_page') }}">Get Started</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('signup_page') }}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="{{ url_for('login_page') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
                {% else %}
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="{{ url_for('sellers_dashboard') }}">Dashboard</a></li>
                    <li><a href="{{ url_for('cart') }}">Get Started</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('profile') }}"><span class="glyphicon glyphicon-user"></span> My Profile</a></li>
                    <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                </ul>
                {% endif %}
            </div>
        </div>
    </nav>
    <script src="script.js"></script>
    
    <main>
        {% block content %}
        <!-- Body content goes here -->
        {% endblock %}
    </main>
    
    <footer>
        <p>&copy; 2024 AgroMarket</p>
    </footer>
</body>
</html>
