{% extends "base.html" %}

{% block title %}: Home{% endblock %}

{% block content %}
<div class="container" id="product_uploads">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="{{ category }}" role="alert">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <div class="row justify-content-center">
        {% for product in data %}
        <div class="col-md-4">
            <div class="card product-card my-4 mx-auto">
                <img src="../static/images/farm 4.jpg" alt="Product Image" class="card-image">
                <div class="card-description">
                    <h2>{{ product.name }}</h2>
                    <p>{{ product.description }}</p>
                    <div class="price">
                        <h3>#{{ product.price }}</h3>
                    </div>
                    <a href="#" class="btn btn-primary btn-block">Add to Cart</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Your content goes here -->
{% endblock %}
