<!doctype html>
<html>
<head>
    <title>AgroMarket: A Farmers Market</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/landing.css') + '?' + cache_id }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='scripts/landing.js') + '?' + cache_id }}">
</head>
<body>

<img src="{{ url_for('static', filename='images/Farmer hub logo.jpg') }}" alt="Our logo" id="top_logo">
<div class="overlay"></div>
<span class="banner_content">
    <h2><i>Harvest the future: Your one-stop shop for buying and selling farm produce</i></h2>
    <div class="topnav">
        <a class="active1" href="#home"><h4>BUY</h4></a>
        <a class="active2" href="#about"><h4>SELL</h4></a>
        <input type="text" placeholder="   Search Catalogue..">
    </div>
</span>

<div id="heda">
    <span id="lolo">
        <a href="{{ url_for('signup_page') }}">Create Account</a>
        <a href="{{ url_for('login_page') }}">Gain Customers</a>
        <a href="{{ url_for('login_page') }}">Sell Product</a>
        <a href="{{ url_for('login_page') }}">Buy Product</a>
    </span>

    <span class="heda_links">
        <a href="{{ url_for('account_type') }}"><h4 id="crat">Create Account</h4></a>
        <br>
        <img src="{{ url_for('static', filename='images/profile.png') }}" alt="my account" id="crat_img">
        <a href="{{ url_for('login_page') }}"><h3 id="exat">My Account</h3></a>
    </span>

    <div class="header_caption">
        <h1>AgroMarket</h1><br>
        <h5>Join Now, Earn better</h5>
    </div>
</div>

<div class="sliding">
    <div class="mySlides fade">
        <img src="{{ url_for('static', filename='images/farm 1.jpg') }}" style="width: 100%; height: 550px;">
    </div>
    <div class="mySlides fade">
        <img src="{{ url_for('static', filename='images/farm 5 .jpg') }}" style="width: 100%; height: 550px;">
    </div>
    <div class="mySlides fade">
        <img src="{{ url_for('static', filename='images/farm 3.jpg') }}" style="width: 100%; height: 550px;">
    </div>
    <div class="mySlides fade">
        <img src="{{ url_for('static', filename='images/farm 4.jpg') }}" style="width: 100%; height: 550px;">
    </div>
</div>

<span class="dot"></span>
<span class="dot"></span>
<span class="dot"></span>
<span class="dot"></span>

<script>
    let slideIndex = 0;
    showSlides();

    function showSlides() {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) { slideIndex = 1 }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        setTimeout(showSlides, 5000);
    }
</script>

<div class="page_des">
    <h1>About Us</h1>
    <hr id="hr_1">
    <hr id="hr_2">
    <h4>
        Agrospace Nigeria is an online market confluence for farmers to sell farm produce to different customers at a good price.
        It enables the farmers to find their best business partner and sell at a good rate.
        Agrospace Nigeria offers more features like enabling investment in farm business,
        offering farming orientation for farmers, and building a community for buyers and sellers of farm produce.
        Agrospace Nigeria is an online market confluence for farmers to sell farm produce to different customers at a good price.
        It enables the farmers to find their best business partner and sell at a good rate.
        Agrospace Nigeria offers more features like enabling investment in farm business,
        offering farming orientation for farmers, and building a community for buyers and sellers of farm produce.
    </h4>
</div>

<div id="side_bar"></div>

<div class="gallery">
    <!-- First column -->
    <div class="first_col">
        <div class="container1">
            <img src="{{ url_for('static', filename='images/veg.jpg') }}" alt="something" class="image1 round-img">
            <div class="overlay1">
                <div class="text1">
                    <h3>Image Description</h3>
                    <h5>2019 Football Competition</h5>
                </div>
            </div>
        </div>
        <div class="container2">
            <img src="{{ url_for('static', filename='images/veg.jpg') }}" alt="something" class="image2">
            <div class="overlay2">
                <div class="text2">
                    <h3>Image Description</h3>
                    <h5>2020 Inter-house Sport</h5>
                </div>
            </div>
        </div>
        <div class="container3">
            <img src="{{ url_for('static', filename='images/veg.jpg') }}" alt="something" class="image3">
            <div class="overlay3">
                <div class="text3">
                    <h3>Image Description</h3>
                    <h5>2019 Football Competition</h5>
                </div>
            </div>
        </div>
        <div class="container4">
            <img src="{{ url_for('static', filename='images/veg.jpg') }}" alt="something" class="image4">
            <div class="overlay4">
                <div class="text4">
                    <h3>Image Description</h3>
                    <h5>Excursion to Badagry</h5>
                </div>
            </div>
        </div>
        <div class="container5">
            <img src="{{ url_for('static', filename='images/veg.jpg') }}" alt="something" class="image5">
            <div class="overlay5">
                <div class="text5">
                    <h3>Image Description</h3>
                    <h5>2019 Football Competition</h5>
                </div>
            </div>
        </div>
        <div class="container6">
            <img src="{{ url_for('static', filename='images/veg.jpg') }}" alt="something" class="image6">
            <div class="overlay6">
                <div class="text6">
                    <h3>Image Description</h3>
                    <h5>2020 Inter-house Sport</h5>
                </div>
            </div>
        </div>
        <div class="container7">
            <img src="{{ url_for('static', filename='images/veg.jpg') }}" alt="something" class="image7">
            <div class="overlay7">
                <div class="text7">
                    <h3>Image Description</h3>
                    <h5>Excursion to Badagry</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Second Column -->

<div class="gallery2">
    <div class="second_col">
        <div class="container1">
            <img src="{{ url_for('static', filename='images/veg.jpg') }}" alt="something" class="image1 round-img">
            <div class="overlay1">
                <div class="text1">
                    <h3>Image Description</h3>
                    <h5>2019 Football Competition</h5>
                </div>
            </div>
        </div>
        <div class="container2">
            <img src="{{ url_for('static', filename='images/veg.jpg') }}" alt="something" class="image2">
            <div class="overlay2">
                <div class="text2">
                    <h3>Image Description</h3>
                    <h5>2020 Inter-house Sport</h5>
                </div>
            </div>
        </div>
        <div class="container3">
            <img src="{{ url_for('static', filename='images/veg.jpg') }}" alt="something" class="image3">
            <div class="overlay3">
                <div class="text3">
                    <h3>Image Description</h3>
                    <h5>2019 Football Competition</h5>
                </div>
            </div>
        </div>
        <div class="container4">
            <img src="{{ url_for('static', filename='images/veg.jpg') }}" alt="something" class="image4">
            <div class="overlay4">
                <div class="text4">
                    <h3>Image Description</h3>
                    <h5>Excursion to Badagry</h5>
                </div>
            </div>
        </div>
        <div class="container5">
            <img src="{{ url_for('static', filename='images/veg.jpg') }}" alt="something" class="image5">
            <div class="overlay5">
                <div class="text5">
                    <h3>Image Description</h3>
                    <h5>2019 Football Competition</h5>
                </div>
            </div>
        </div>
        <div class="container6">
            <img src="{{ url_for('static', filename='images/veg.jpg') }}" alt="something" class="image6">
            <div class="overlay6">
                <div class="text6">
                    <h3>Image Description</h3>
                    <h5>2020 Inter-house Sport</h5>
                </div>
            </div>
        </div>
        <div class="container7">
            <img src="{{ url_for('static', filename='images/veg.jpg') }}" alt="something" class="image7">
            <div class="overlay7">
                <div class="text7">
                    <h3>Image Description</h3>
                    <h5>Excursion to Badagry</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Third Column -->

<div class="gallery3">
    <div class="third_col">
        <div class="container1">
            <img src="{{ url_for('static', filename='images/veg.jpg') }}" alt="something" class="image1 round-img">
            <div class="overlay1">
                <div class="text1">
                    <h3>Image Description</h3>
                    <h5>2019 Football Competition</h5>
                </div>
            </div>
        </div>
        <div class="container2">
            <img src="{{ url_for('static', filename='images/veg.jpg') }}" alt="something" class="image2">
            <div class="overlay2">
                <div class="text2">
                    <h3>Image Description</h3>
                    <h5>2020 Inter-house Sport</h5>
                </div>
            </div>
        </div>
        <div class="container3">
            <img src="{{ url_for('static', filename='images/veg.jpg') }}" alt="something" class="image3">
            <div class="overlay3">
                <div class="text3">
                    <h3>Image Description</h3>
                    <h5>2019 Football Competition</h5>
                </div>
            </div>
        </div>
        <div class="container4">
            <img src="{{ url_for('static', filename='images/veg.jpg') }}" alt="something" class="image4">
            <div class="overlay4">
                <div class="text4">
                    <h3>Image Description</h3>
                    <h5>Excursion to Badagry</h5>
                </div>
            </div>
        </div>
        <div class="container5">
            <img src="{{ url_for('static', filename='images/veg.jpg') }}" alt="something" class="image5">
            <div class="overlay5">
                <div class="text5">
                    <h3>Image Description</h3>
                    <h5>2019 Football Competition</h5>
                </div>
            </div>
        </div>
        <div class="container6">
            <img src="{{ url_for('static', filename='images/veg.jpg') }}" alt="something" class="image6">
            <div class="overlay6">
                <div class="text6">
                    <h3>Image Description</h3>
                    <h5>2020 Inter-house Sport</h5>
                </div>
            </div>
        </div>
        <div class="container7">
            <img src="{{ url_for('static', filename='images/veg.jpg') }}" alt="something" class="image7">
            <div class="overlay7">
                <div class="text7">
                    <h3>Image Description</h3>
                    <h5>Excursion to Badagry</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <h2>Contact Us</h2>
    <div class="down_logo">
        <a href="mailto:adigwedennis@gmail.com"><img src="{{ url_for('static', filename='images/email.png') }}" alt="email_logo" class="_logo"></a>
        <a href="tel:+2348104910518"><img src="{{ url_for('static', filename='images/Phone.png') }}" alt="phone_logo" class="_logo"></a>
        <a href="https://wa.me/+2349134422033"><img src="{{ url_for('static', filename='images/whatsapp.png') }}" alt="whatsapp_logo" class="_logo"></a>
        <a href="#"><img src="{{ url_for('static', filename='images/X.png') }}" alt="x_logo" class="_logo"></a>
        <a href="https://github.com/Sobilo34/AgroMarket"><img src="{{ url_for('static', filename='images/github.png') }}" alt="github_logo" class="_logo"></a>
    </div>
</footer>

</body>
</html>