<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/landing.css') + '?' + cache_id }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='scripts/landing.js') + '?' + cache_id }}">
<style>
body {
    overflow-y: hidden;
}
</style>
<body>
    <img src="../static/images/farm 1.jpg" alt="" id="bag_img">
    <div class="cus_overlay"></div>
    <h1 id="caption">AgroMarket</h1><br>

    <img src="../static/images/Farmer hub logo.jpg" alt="Our logo" id="heda_logo">
    <div class="form_bag">
        <h2 id="log_in">Sign in to your Account</h2>
       
        <div class="legalt">
            <form method="get" action="../templates/seller_dashboard.html">
                <h3 class="option_caption">Username/Business name</h3>
                <input type="text" name="username" class="option_con">
                <h3 class="option_caption">Email/Phone Number</h3>
                <input type="email" name="email" class="option_con"> 
                <h3 class="option_caption">Password</h3>
                <input type="password" name="password" class="option_con"><br>  
                <input type="submit" value="Login" class="sub_but">
            </form>
        </div>
    </div>
</body>

</html>
