<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/landing.css') + '?' + cache_id }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='scripts/landing.js') + '?' + cache_id }}">
<style>
/* body {
    overflow-y: hidden;
} */

.crt_but {
    position: relative;
    top: 30px;
    left: 30%;
    background-color: rgb(6, 22, 8);
    border: 2px solid rgb(6, 22, 8);
    border-radius: 5px;
    height: 30px;
    width: 200px;
    font-size: larger;
    font-family: fantasy;
    color: wheat;
}

</style>
<body>
    <img src="../static/images/farm 1.jpg" alt="" id="bag_img">
    <div class="cus_overlay"></div>
    <h1 id="caption">AgroMarket</h1><br>

    <img src="../static/images/Farmer hub logo.jpg" alt="Our logo" id="heda_logo">
    <div class="form_bag">
        <h2 id="log_in">Get started now!</h2>

        <div class="legalt">
            <form method="post" action="{{ url_for('login_page') }}">
                {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="{{ option_con }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
                <h3 class="option_caption">Email</h3>
                <input type="email" name="email" class="option_con" required>
                <h3 class="option_caption">Password</h3>
                <input type="password" name="password" class="option_con" required><br>  
                <input type="submit" value="Login" class="crt_but">
                <h4 style="margin-top: 50px; text-align: center; color: black;">Don't have an Account? <a href="{{ url_for('signup_page') }}"> Create Account</a></h4>
            </form>
            <!-- Display Flash Messages -->
    
        </div>
    </div>
</body>
</html>
