{% extends "base.html" %}

{% block title %}User Orders{% endblock %}

{% block content %}
<div class="container content">
    <h2 class="text-center">{{ orders[0].order.user.first_name }} {{ orders[0].order.user.last_name }}'s Orders</h2>
    <br />
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Total Price</th>
                <th>Order Date</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.product.name }}</td>
                <td>{{ order.quantity }}</td>
                <td>{{ order.total_price }}</td>
                <td>{{ order.created_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if orders|length == 0 %}
        <p class="text-center">No orders found.</p>
    {% endif %}
</div>
{% endblock %}
