<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/seller_dashboard.css') + '?' + cache_id }}">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/product.js') + '?' + cache_id }}"></script>
</head>
<body>
    <div class="product_content">
        <!-- The Product information will be dynamically appended here -->
    </div>
</body>
</html>
