<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link rel="stylesheet" href="../static/styles/seller_dashboard.css">
</head>
<body>
    <div class="product_content">
        <div class="a_product">
            <img src="../static/images/farm 4.jpg" alt="product_img">
            <h5><span id="des_caption">Fresh Hausa Local Rice</span><br>
                Harvest Date: 24 Apr <br>
                Price: #40,000.00 per bag <br>
                Quantity: 50 bags
            </h5>
        </div>

        <div class="a_product">
            <img src="../static/images/farm 4.jpg" alt="product_img">
            <h5><span id="des_caption">Fresh Hausa Local Rice</span><br>
                Harvest Date: 24 Apr <br>
                Price: #40,000.00 per bag <br>
                Quantity: 50 bags
            </h5>
        </div>
    </div>
</body>
</html>
