{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container content">
  <h2 class="text-center">{{ product.description }}</h2>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <p class="{{ category }}" role="alert">{{ message }}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <br>
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card product-card my-4 mx-auto">
        <img src="{{ url_for('static', filename='images/upload/' ~ product['cover_img']) }}" alt="Product Image" class="card-image">
        <div class="card-description">
          <h2>{{ product.name }}</h2>
          <p>{{ product.description }}</p>
          <div class="price">
            <h3>#{{ product.price }}</h3>
          </div>
          <a href="#" class="btn btn-primary btn-block">Add to Cart</a>
        </div>
      </div>
    </div>
  </div>

  <p>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1" style="border: 3px solid goldenrod;">Edit Product Data</a>
  </p>
  <div class="row" style="box-shadow: none;">
    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample1">
        <div class="card card-body">
          <div class="container">
            <form class="form-horizontal edit_form" method="post" action="{{ url_for('product_page', product_id=product['id']) }}" enctype="multipart/form-data">
              <div class="form-group">
                <label class="control-label col-sm-2" for="name">Product Name:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="name" placeholder="Product name" name="name" value="{{ product.name }}">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-2" for="description">Description:</label>
                <div class="col-sm-10">
                  <textarea id="description" name="description" placeholder="Write short description of the Product" rows="5" cols="100">{{ product.description }}</textarea>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-2" for="price">Price:</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" id="price" placeholder="Price in Naira" name="price" value="{{ product.price }}">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-2" for="quantity">Quantity:</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" id="quantity" placeholder="Product quantity" name="quantity" value="{{ product.quantity }}">
                </div>
              </div>

              <div class="form-group">
                <label for="image" class="control-label col-sm-2">Upload Images</label>
                <div class="col-sm-10">
                  <input class="form-control" type="file" id="image" name="file" multiple>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default justify-content-center" style="background-color: rgb(0, 162, 255);">Update Product</button>
                </div>
              </div>

                <div class="form-group"></div>
                <label for="cancel" class="control-label col-sm-2"></label>
                <div class="col-sm-10">
                  <button type="button" class="btn btn-danger" id="cancel">Cancel</button>
                </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
