{% extends "base.html" %}

{% block title %}: Home{% endblock %}

{% block content %}

<div class="container content">
  <h2 class="text-center">Upload Product</h2>
  <form class="form-horizontal" method="post" action="{{ url_for('products_page') }} " enctype=multipart/form-data>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
                {% for category, message in messages %}
                    <p class="{{ category }}" role="alert">{{ message }}</p>
                {% endfor %}
        {% endif %}
    {% endwith %}
    
    <div class="form-group">
        <label class="control-label col-sm-2" for="name">Product Name:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="text" placeholder=" Product name" name="name">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="description">Description:</label>
        <div class="col-sm-10">
            <textarea id="description" name="description" placeholder=" Write short decription of the Product" rows="5" cols="100"></textarea>
        </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="price">Price:</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="price" placeholder="  Price in Naira" name="price">
      </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="quantity">Quantity:</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="phone" placeholder="  Product quantity" name="quantity">
        </div>
    </div>

    <div class="form-group">
        <label for="image" class="control-label col-sm-2">Upload Images</label>
      <div class="col-sm-10">
        <input class="form-control" type="file" id="image" name="file" multiple />          
      </div>
    </div>


    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-success">Add Product</button>
      </div>
    </div>
  </form>
</div>

<!-- Your content goes here -->
{% endblock %}
