{% extends "base.html" %}

{% block title %}: Home{% endblock %}

{% block content %}

<div class="container content">
    <h1 class="text-center">My Profile</h1>
    <section style="margin-left: 10%;">
          <div class="row">
            <div class="col-lg-4">
              <div class="card mb-4">
                <div class="card-body text-center">
                  <img src="../static/images/upload/profile/{{ user.profile_pic }}" alt="{{user.first_name}}"
                    class="rounded-circle img-fluid" style="width: 150px; border-radius: 50%;">
                  <h5 class="my-3">Bilal Oyeleke</h5>
                  <p class="text-muted mb-1">Cash crops Farmer</p>
                  <p class="text-muted mb-4">Bay Area, Costain, Lagos</p>

                  <!-- <div class="d-flex justify-content-center mb-2">
                    <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary">Follow</button>
                    <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-primary ms-1">Message</button>
                  </div> -->

                </div>
              </div>

              <div class="card mb-4 mb-lg-0">
                <div class="card-body p-0">
                  <ul class="list-group list-group-flush rounded-3">
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <i class="fas fa-globe fa-lg text-warning"></i>
                      <p class="mb-0">Contact Outlets</p>
                    </li>
                    <!-- <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <i class="fab fa-github fa-lg text-body"></i>
                      <img src="../static/images/github.png" alt="contact_image" style="height: 30px; width: 30px;">
                      <p class="mb-0">Github</p>
                    </li> -->
                    <!-- <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                      <img src="../static/images/X.png" alt="contact_image" style="height: 30px; width: 30px;">
                      <p class="mb-0">X (Twitter)</p>
                    </li> -->
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <i class="fab fa-phone fa-lg" style="color: #ac2bac;"></i>
                      <img src="../static/images/Phone.png" alt="contact_image" style="height: 30px; width: 30px;">
                      <p class="mb-0">{{ user.phone }}</p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <i class="fab fa-whatsapp-f fa-lg" style="color: #3b5998;"></i>
                      <img src="../static/images/whatsapp.png" alt="contact_image" style="height: 30px; width: 30px;">
                      <p class="mb-0">Whatsapp</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-lg-6" style="margin-top: 15%; margin-left: 20px;">
              <div class="card mb-5">
                <div class="card-body" style="margin: 30px;">
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Full Name</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{ user.first_name }} {{ user.last_name }}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Email</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{ user.email }}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Mobile Number</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">+{{ user.phone }}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Address</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{ user.location }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</div>

<!-- Your content goes here -->
{% endblock %}
