<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller_dashboard</title>
    <link rel="stylesheet" href="../styles/seller_dashboard.css">
</head>
<body>
    <header>
        <h1>Welcome Sobil</h1>
        <img src="../images/Farmer hub logo.jpg" alt="AgroMarket_logo" id="agroMarket_logo">
        <h3>AgroMarket</h3>
        <!-- <div id="my_profile">
            <img src="../images/leke.jpg" alt="profile_image" id="profile_image"><h5>Bilal Oyeleke</h5>
        </div> -->
    </header>
    <div class="nav_bar">
        <a href="../templates/seller_dashboard.html">Home</a>
        <a href="#">Messages</a>
        <a href="#">Adverts</a>
        <a href="#">Transactions</a>
        <a href="#">Settings</a>
    </div>
    
    <div class="dashboard_container">
        <h2>My Dashboard</h2>
        <div class="dasb_content">
            <div class="dasb_status">
                <img src="../images/Acct_bal.webp" alt="acct_balance">
                <h4>Account Balance</h4>
                <button type="button">*****</button>
            </div>

            <div class="dasb_status">
                <img src="../images/trans_history.png" alt="acct_balance">
                <h4>Transaction History</h4>
                <button type="button">*****</button>
            </div>

            <div class="dasb_status">
                <img src="../images/goods_available.png" alt="acct_balance">
                <h4>Available Products</h4>
                <button type="button">*****</button>
            </div>

            <div class="dasb_status">
                <img src="../images/customers.png" alt="acct_balance">
                <h4>Total Customers</h4>
                <button type="button">*****</button>
            </div>
        </div>
    </div>

    <div class="product_container">
        <h2>My Products</h2>
        <iframe src="../templates/product.html" frameborder="0"></iframe>
    </div>

    <div id="side_bar">
        <div class="side_bar_content">
            <input type="text" placeholder="            Search Catalogue.." class="search_bar">
                <a href="#"><h4>Switch to Buyer</h4></a>
                <a href="#"><h4>My Profile</h4></a>
                <a href="#"><h4>Settings</h4></a>
                <a href="#"><h4>Logout</h4></a>
        </div>
    </div>

    <footer>
        <h2>Contact Us</h2>
        <div class="down_logo">
          <a href="adigwedennis@gmail.com"><img src="../images/email.png" alt="email_logo" class="_logo"></a>
          <a href="+2348104910518"><img src="../images/Phone.png" alt="phone_logo" class="_logo"></a>
          <a href="+2349134422033"><img src="../images/whatsapp.png" alt="whatsapp_logo" class="_logo"></a>
          <a href="#"><img src="../images/X.png" alt="x_logo" class="_logo"></a>
          <a href="https://github.com/Sobilo34/AgroMarket"><img src="../images/github.png" alt="github_logo" class="_logo"></a>
        </div>
    </footer>
</html>
