{% extends "base.html" %}

{% block title %}: Home{% endblock %}

{% block content %}
<div class="container content">
  <div class="row">
    <!-- Dashboard Sidebar -->
    <div class="col-md-4">
      <div class="dashboard_container card p-3 mb-4">
        <h2>My Dashboard</h2>
        <div class="list-group">
          <a href="{{ url_for('profile') }}" class="list-group-item list-group-item-action">My Profile</a>
          <a href="#" class="list-group-item list-group-item-action">My Products</a>
          <a href="#" class="list-group-item list-group-item-action">My Orders</a>
          <a href="#" class="list-group-item list-group-item-action">My Wallet</a>
          <a href="#" class="list-group-item list-group-item-action">My Settings</a>
        </div>
      </div>
    </div>

    <!-- Products Section -->
    <div class="col-md-8">
      <div class="product_container card p-3 mb-4">
        <h2>My Products</h2>
        <div class="row">
          <!-- Product Card -->
          <div class="col-md-4">
            <div class="card product-card my-4 mx-auto">
              <img src="../static/images/farm 4.jpg" alt="Product Image" class="card-image img-fluid">
              <div class="card-description p-3">
                <h3 class="card-title">Product Name</h3>
                <p class="card-text">Product Description</p>
                <div class="price">
                  <h4>#Product Price</h4>
                </div>
                <a href="#" class="btn btn-primary btn-block">Edit Product</a>
                <a href="#" class="btn btn-danger btn-block">Delete Product</a>
              </div>
            </div>
          </div>
          <!-- Add more product cards as needed -->
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='scripts/upload_product.js') + '?' + cache_id }}"></script>
{% endblock %}
