body {
    background-color: white;
}

header {
    height: 130px;
    width: 101.4%;
    display: flex;
    background-color: green;
    color: white;
    margin-top: -1%;
    margin-left: -0.9%;
}

header #agroMarket_logo {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-left: 30%;
    margin-top: 20px;
}

header h3 {
    margin-left: 10px;
    margin-top: 40px;
}

#my_profile {
    margin-top: 20px;
    margin-left: 1%;
}

header #my_profile #profile_image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

header #my_profile h5 {
    margin-top: 5px;
    margin-left: -10px;
}

header h1 {
    margin-left: -50px;
    margin-top: 80px;
    color: rgb(5, 5, 15);
}

#side_bar {
    position: relative;
    top: -81px;
    left: -45px;
    background-color:  rgb(5, 5, 15);
    border: 1px solid gray;
    height: 1500px;
    width: 330px;
    border-radius: 50px;
}

.side_bar_content {
    margin-left: 45px;
    margin-top: 10px;
    width: 250px;
    height: 100%;
}


#side_bar .search_bar {
    margin: 5%;
    height: 40px;
    width: 220px;
    border-radius: 5px;
}

.side_bar_content a {
    margin-top: 20px;
    margin-left: -10px;
    display: flex;
    width: fit-content;
    min-width: 230px;
    height: 40px;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
}

.side_bar_content a img {
    height: 20px;
    width: 20px;
    margin: 10px;
    display: block;
}

.side_bar_content a:hover {
    background-color: green;
}

.side_bar_content a h4 {
    text-align: center;
    color: rgb(223, 233, 233);
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    align-content: center;
    margin-left: 15%;
    margin-top: 10px;
}

.nav_bar {
    background-color: green;
    height: 80px;
    width: 80.5%;
    max-width: 100%;
    display: inline-flex;
    justify-content: space-around;
    padding-left: 20px;
    margin-left: 18.5%;
    margin-top: auto;
}
  
.nav_bar a {
    text-decoration: none;
    color: rgb(223, 233, 233);
    font-size: 20px;
    margin-top: 45px;
    font-weight: 600;
    float: bottom;
}

/* .nav_bar a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(3, 27, 3);
    text-decoration-thickness: 4px;
} */


.dashboard_container {
    position: relative;
    top: 30px;
    background-color:  rgb(223, 233, 233);
    color: rgb(3, 27, 3);
    border-radius: 10px;
    height: 340px;
    width: 75%;
    float: right;
    margin: 20px;
}

.dashboard_container h2 {
    margin: 3%;
}
.dasb_content {
    margin-top: -2%;
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.dasb_status {
    position: relative;
    top: 0px;
    left: -30px;
    height: 100px;
    width: 45%;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

.dasb_status img {
    position: absolute;
    left: 5%;
    top: 10%;
    height: 30px;
    width: 30px;
    margin: 5%;
    margin-left: 20%;
}

.dasb_status h4 {
    position: absolute;
    left: 35%;
    top: 20%;
}

.dasb_status button {
    position: absolute;
    left: 40%;
    top: 70%;
    height: 20px;
    width: 100px;
}

.product_container {
    position: relative;
    top: 30px;
    color: rgb(3, 27, 3);
    border-radius: 10px;
    height: 800px;
    width: 75%;
    float: right;
    margin: 20px;
}

.product_container h2 {
    margin: 3%;
}

.product_container iframe {
    height: 650;
    width: 100%;
}
.upload_product {
    position: relative;
    top: auto;
    left: 30%;
    height: 100px;
    width: 40%;
    background-color: transparent;
    border: 5px dashed rgb(192, 187, 187);
}

.upload_product .upload {
    height: 80px;
    width: 350px;
    margin-top: 10px;
    margin-left: 20px;
    color: green;
}
.upload_product .upload h1 {
    font-size: 60px;
    margin: 7px;
    opacity: 0.5;
}

.upload_product .upload span {
    position: relative;
    top: -7px;
    left: 10px;
    font-size: 30px;
}

.product_content {
    margin-top: 20px;
    margin-left: 7%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
    color: black;
}

.a_product {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 310px;
    width: 280px;
    font-family: calibri;
    margin-top: 20px;
    border-radius: 10px;

}

.a_product img {
    margin: 10%;
    height: 150px;
    width: 230px;
    border-radius: 4px;
}
.a_product h5 {
    margin-left: 30px;
    margin-top: 10px;
}

#des_caption {
    font-size: 20px;
}

footer {
    position: relative;
    bottom: 0px;
    height: 70px;
    width: 100%;
    background-color: whitesmoke;
    align-content: center;
  }
  
  footer .down_logo {
    margin-left: 30%;
    margin-top: 10px;
    display: flex;
    width: 600px;
    justify-content: space-between;
  }

  footer ._logo {
    height: 20px;
    width: 20px;
  }